@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('/styles/styles.css');

.fatec-container,
.dsm-container {
    display: flex;
    flex-direction: column;
    padding: 7rem 7% 2rem;
}

.fatec-text,
.dsm-text {
    font-size: 26px;
}

span {
    background: -webkit-linear-gradient(75deg, #7f00ff, #7f00ff, #e100ff, #e100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.fatec-container p,
.dsm-container p {
    text-align: right;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
}

.map {
    border-radius: 15px;
}