@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    background-color: black;
    /*background-color: #f9f9fb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);*/
    padding: 10px;
    font-family: "Rubik", sans-serif;
}


body {
    background-color: #f9f9fb;
}

section {
    font-family: "Poppins", sans-serif;
    padding: 7rem 7% 2rem;
    align-content: center;
    min-height: 80vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #cc2ae3;
}

.logo {
    width: 6rem;
    cursor: pointer;
    transition: .3s ease;
    margin: auto;
}
.navbar-links {
    /*color: #ff33e8;*/
    color: #cc2ae3;
    float: right;
    font-size: 25px;
    position: relative;
    margin-right: 100px;
    
}

.navbar-links ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    margin-left: 400px;
}

.navbar-links li {
    display: inline-block;
    margin: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.navbar-links a {
    color:  #cc2ae3;
    text-decoration: none;
}

.navbar-links li:hover {
    color: #2f0be9;
    border-bottom-color: #2f0be9;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f0be9;
    background-color: black;
}

.icons {
    font-size: 7vh;
    margin-top: 20px;
    text-align: center;
}

.icons i {
    color: white;
    padding: 5px;
    transition: .3s ease;
}

.icons i:hover {
    transform: scale(0.90);
    color: #cc2ae3;
    cursor: pointer;
}


.photo{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.me {
    width: 35vh;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 12.5px -1.5px #e100ff;
    -moz-box-shadow: 0 0 12.5px -1.5px #e100ff;
    box-shadow: 0 0 12.5px -1.5px #e100ff;
    margin: 5px;
}

.text-typing{
    align-content: center;
    font-size: 4rem;
    font-weight: 800;
    background: -webkit-linear-gradient(75deg, #7f00ff, #7f00ff, #e100ff, #e100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wave {
    padding: 0;
    margin: 0;
    align-content: start;
}

.about-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    width: 60rem;
    top: 0;
    right: 0;
    margin-top: -200px;
    margin-left: auto;
    max-width: 55rem;
}
 
.about-container h2 {
    font-size: 4rem;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    background: -webkit-linear-gradient(75deg, #7f00ff, #7f00ff, #e100ff, #e100ff, #e100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-container p {
    font-size: 24px;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    --border-size: 3px;
    --border-angle: 0turn;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    background-color: white;
    animation: bg-spin 1.5s linear infinite;
  }
  
  .about-container p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    padding: var(--border-size);
    background-image: conic-gradient(
        from var(--border-angle),
        #fff,
        #fff 50%,
        #fff
      ),
      conic-gradient(
        from var(--border-angle),
        transparent 20%,
        #7f00ff,
        #e100ff
      );
    background-origin: border-box;
    background-clip: content-box, border-box; 
    z-index: -1;
  }
  
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  .my-projects {
    font-size: 3.5rem;
    background: -webkit-linear-gradient(75deg, #7f00ff, #7f00ff, #e100ff, #e100ff, #e100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
  }

  .project-display {
      display: flex;
      margin: auto;
      text-align: center;
      justify-content: center;
  }
  
  .projects-container {
      align-content: center;
      text-align: center;
      width: 100vw;
  }

.projeto-1,
.projeto-2,
.projeto-3 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 25rem;
  height: 30rem;
  padding: 20px;
  margin: 20px; 
  text-align: center;
  border-radius: 30px;
  --border-size: 3px;
  --border-angle: 0turn;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  background-color: white;
  animation: bg-spin 1.5s linear infinite;
}
 
  .projeto-1::before,
  .projeto-2::before,
  .projeto-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    padding: var(--border-size);
    background-image: conic-gradient(
        from var(--border-angle),
        #fff,
        #fff 50%,
        #fff
      ),
      conic-gradient(
        from var(--border-angle),
        transparent 20%,
        #7f00ff,
        #e100ff
      );
    background-origin: border-box;
    background-clip: content-box, border-box; 
    z-index: -1;
  }

.golearn,
.starfitness,
.banco-digital {
    width: 100%;
    margin: 0 auto;
}

.copy {
    font-family: "Poppins", sans-serif;
    text-align: center;
    align-content: center;
    background-color: black;
    font-size: 1rem;
    color: white;
    margin: 50px;
}

.copy h2 {
    font-size: 3.5rem;
    background: -webkit-linear-gradient(75deg, #7f00ff, #7f00ff, #e100ff, #e100ff, #e100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons-footer {
    font-size: 15vh;
    margin-top: 20px;
    text-align: center;
}

.icons-footer i {
    color: white;
    padding: 5px;
    transition: .3s ease;
}

.icons-footer i:hover {
    transform: scale(0.90);
    color: #cc2ae3;
    cursor: pointer;
}

footer {
    background-color: black;
    height: 60vh;
}

